*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    display: flex;
    color: black;
    padding: 0 2rem;
    background-color: rgb(213, 230, 236);
    /* justify-content: center; */
    padding-left: 3rem  ;
}
nav a{
    padding: .8rem 1.8rem;
    transition-duration: 200ms;
    color: white;
    text-decoration: none;
    font-weight: 600;
    background-color: rgb(45, 82, 107);
}
#todoMainSection{
    padding: 0 3rem;
    display: flex;
    align-items: center;
    width: 40%;
    flex-direction: column;
    gap: 1rem;
    padding-top: 6rem;
    border-right: 3px solid black;
}
#todoMainSection input{
    padding: .5rem 1rem;
    outline: none;
    border: 1px solid black;
    width: 20rem;
}
#submitTodo{
    position: relative;
    padding: .5rem 1rem;
    outline: none;
    border: 1px solid black;
    background-color: rgb(213, 230, 236);
    overflow: hidden;
    height: 2.12rem;
    width: 5rem;
    font-weight: 600;
}
#submitTodo:after{
    content: 'Add Todo';
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(45, 82, 107);
    z-index: 1;
    transform: translateY(2.03rem);
    transition: 1s;
    padding-top: .5rem;
}
#submitTodo:before{
    content: 'Add Todo';
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(213, 230, 236);
    z-index: 1;
    transform: translateY(0);
    transition:    1s;
    padding-top: .5rem;
}
#submitTodo:hover::after{
    transform: translateY(0);
    color: white;
}
#submitTodo:hover::before{
    transform: translateY(-2.5rem);
    color: white;
}
#todoList{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 530px;
    overflow-y: auto;
    width: 70%;
    margin: auto;
}
.todo{
    /* border: 1px solid; */
    display: flex;
    padding: 1rem;
    align-items: center;
    box-sizing: content-box;
    width: 500px;
    gap: 2rem;
    margin: 0 auto;
}
.todo img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="checkbox"]:checked + label{
    text-decoration: line-through;
}
.textTodo{
    display: flex;
    gap: 1.5rem;
    width: 90%;
    white-space: pre-wrap;
    word-wrap: break-word;
    height: fit-content;
}
#mainSection{
    display: flex;
    padding: 2rem;
}
#inputBox{
    display: flex;
    gap: 1rem;
    
}
#constraints{
    display: flex;
    gap: 2rem;
    /* margin-top: .5rem; */
}

#green .box{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: green;
    display: flex;
}
#orange .box{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: orange;
}
#red .box{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: red;
}

#green{
    display: flex;
    gap: 1rem;
}
#orange{
    display: flex;
    gap: 1rem;
}
#red{
    display: flex;
    gap: 1rem;
}
.special{
    font-size:20px ;
    color: rgb(92, 41, 41);
}